<!doctype html>
<html lang="en">
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="assets/css/style.css" type="text/css">
    <link rel="stylesheet" href="assets/css/high-charts-style.css" type="text/css">
    {# <link rel="stylesheet" href="assets/css/highcharts.css" type="text/css"> #}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
         <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
   integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
   crossorigin=""/>
   <link rel="icon" href="assets/Favicon.png">

   
     <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
   integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
   crossorigin=""></script>

    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/sunburst.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/data.js"></script>
    <script src="https://code.highcharts.com/modules/drilldown.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title }}</title>    
    </head>



<main class="content">

  <section class="main-content">
        <div class="header">
            <img class="dollar-signs" style="margin-left:1vw;"src="assets/Dollar.png"></img>
            <div class="statement">DARK MONEY VS 
              <div class="slidingVertical">
                <span>DETROIT</span>
                <span>DEARBORN</span>
                <span>SOUTHFIELD</span>
                <span>LIVONIA</span>
                <span>WESTLAND</span>
                <span>GARDEN CITY</span>
                <span>INKSTER</span>
                <span>YOU</span>
              </div>
            </div>
            <img class="dollar-signs" style="margin-right: 1vw;"src="assets/Dollar.png"></img>
        </div>

        <div>
            <p>
                Working-class fighter <b>Rashida Tlaib</b> is running for election to US Congress in Southeast Michigan’s new 12th district. Mega-wealthy donors and dark money groups are pouring millions into the race to stop her.
            </p>
            <p>
                Who is trying to buy this election, and why? We’re a team of volunteers who combed through the Federal Election Committee filings on the election.
            </p>
            <p>
                 Here’s what we found.
            </p>
        </div>
        <div>
            <h2>How much money is being spent against Rashida?</h2>
            <h4 style="font-weight:unset; width:96%;">We looked at the individuals and groups funding Rashida’s opponents and buying attack mailers and ads against Rashida. <br/>Here’s the total spending to date:</h4>
            <p class="total-donation" id="total-donation">$0</p>
        </div>

        <h2>Where is all this money coming from?</h2>

        <div id="graph-container">
            <div  class="sunbursts" id = "graphs-a"></div>
            <div  class="sunbursts" id = "graphs-b"></div>
        </div>
        <div class="main-text-right">
            <h2>
                Why are Israel-focused PACs spending millions on a race in Michigan?
            </h2>
            <p>
                Dark-money PACs and their friends in the billionaire class are <a class="links" href="https://www.theguardian.com/politics/2022/may/17/pro-israel-lobby-defeat-democrats-palestinians-2022">spending millions</a> to divide us against each other in Southestern Michigan. As long as the wealthy can keep us distracted and fighting each other, we won’t ask why the US government, enabled by both parties, is giving <a class="links" href="https://www.bbc.com/news/57170576">tens of billions</a> of dollars every year to fund forever wars in Israel and the Middle East — instead of spending that money on schools, infrastructure, or healthcare in Michigan.
            </p>

            <p>
                AIPAC is one of the most
                <a class="links" href="https://www.thenation.com/article/archive/aipac-omar-israel-congress-anti-semitism/">powerful</a> lobbying organizations in the US, and their goal is to maintain apartheid in Israel-Palestine. They are spending
                <a class="links" href="https://www.freep.com/story/news/politics/elections/2022/04/15/rashida-tlaib-winfrey-pro-israel-donations/7334371001/"> big</a> 
                on Rashida’s Democratic opponent.
                They’ve also <a class="links" href="https://www.theguardian.com/us-news/2022/mar/23/aipac-pro-israel-group-backs-insurrectionist-republicans">poured millions</a> into backing 37 <i>Republicans</i> who voted against certifying Biden’s victory after the January 6 riot at the Capitol. An undemocratic, divided, and violent America makes it easier for them to keep taking money to wage genocide on Palestinians.
            </p>
        </div>
        <div>
        <h2>
            Wall of Shame
        </h2>

            <h4 style="justify-content: center;align-items: center;text-align: center;margin-left: 10vw;margin-right: 10vw;">
                Learn more about the worst donors and PACs trying to buy this election.
            </h4>       
         <div class="swiper" id="swiper-a">
            <div class="swiper-wrapper" style="height: 95%;">
                {% for row in collections.pacs %}
                    <div class="swiper-slide"> 
                        <div class="slide-image" style="background-image: url('{{ row.Images }}')"></div>
                        <div class="donation-details">
                        <h3>
                            {{ row.contributor_name | fixNaming | capitalizeName | replacePAC}}
                        </h3>
                        <div class="donation-prepend">{{row.entity_type_desc | fixType}}<span class="donation-amount">${{row.contribution_receipt_amount | moneyLocale}}</span></div>
                        </div>
                        <div class="blurb">
                            <p>
                                {{row.draft_blurb | safe }}
                            </p>
                        </div>

                    </div>
                {% endfor %}
            </div>
            <div class="swiper-button-prev" id="swiper-button-prev-swiper-a"></div>
            <div class="swiper-button-next" id="swiper-button-next-swiper-a"></div>
        </div>
        </div>
        </div>
        <div class="main-text-right">            

            <h2>Rashida and the working class vs. the billionaires</h2>
            <p>Congresswoman <a class="links" href="https://rashidaforcongress.com/">Rashida Tlaib</a> doesn’t take corporate PAC money, and she has a <a class="links" href="https://twitter.com/RashidaTlaib/status/1275920272831533056">long record</a> of fighting for the needs of her constituents. Because she’s a <a class="links" href="https://inthesetimes.com/article/rashida-tlaib-democratic-socialism-palestine-israel-michigan">democratic socialist</a>, she stands up to billionaire special interests and she fights for a united working class.
                <b>A united working class, in Michigan or anywhere else, is the greatest threat to the Israel lobby’s rightwing, pro-war agenda.</b>
                History shows that when ordinary people fight together in solidarity, they can remake the world. Pro-war groups like AIPAC and their wealthy friends will stop at nothing to prevent our movement from challenging their power.
            </p>
            <a href="https://www.metrodetroitdsa.com/dsa_4_rashida" class="involved-button">Get Involved</a>
        </div>
        <div>
            <div class="main-text-right">
            <h2>The new Congressional 12th district</h2>
            <p>
                Last year, Michigan <a class="links"  href="https://www.michiganradio.org/politics-government/2022-02-15/the-changes-to-michigans-congressional-map-district-by-district">redrew</a> its congressional district map. Rashida used to represent the 13th district, and is now running in the new 12th district. This map shows the boundaries of the new district. Still not sure where you fall? Look up your address <a class="links" href="https://www.washingtonpost.com/elections/interactive/find-your-congressional-district/">here</a>.
            </p>
            <div id="map" style="width: 100%; height:40vh; margin:auto;"></div>
            </div>

        <div style="margin-bottom: 2vh;">
            <h2>Made by Metro Detroit Democratic Socialists of America</h2>
            <p>Rashida Tlaib is a member of the <a class="links"href="https://www.metrodetroitdsa.com/">Metro Detroit</a> chapter of the <a class="links" href="https://www.dsausa.org/">Democratic Socialists of America</a> (MDDSA), and this website was made by a group of volunteers from MDDSA.
                DSA is the largest socialist organization in the United States. We believe that the economy should be run democratically, by working people, to meet human needs, not to make profits for a few. We are an activist organization, not a political party. We oppose all forms of oppression, including those based on race, immigration status, ethnicity, religion, ability, gender, and sexuality. In local chapters around the country, DSA members are building movements for social change and establishing a democratic socialist presence in American communities and politics.
                <br/>If you’re ready to fight for a new world through elections, workplace organizing, and mass politics, join us!
            </p>
            <a href="https://act.dsausa.org/donate/membership2020/" class="involved-button">Join Us!</a>

        </div>
        </div>
        <div class="footer">
            <div style="display: flex; justify-content: center;">
            <a href="https://www.metrodetroitdsa.com/" ><img src="assets/dsa-logo-200x200.png"></img></a>
            </div>
            
            <a class="tagline" href="https://www.metrodetroitdsa.com/">Made with <i class="fa fa-heart fa-1x fa-beat"></i>  by Detroit DSA Comrades</a>
        </div>
 </section>

  
</main>
<script src="assets/js/swiper-manipulation.js"></script>
<script src="assets/js/leaflet-map.js"></script>
<script src="assets/js/sunbursts.js"></script>





{# keeping here so the script can interact with collection objects
 #}
<script>

    var total_amount = 0;
    const arr = {{ collections.full | dump(2) | safe }}
    arr.forEach(element => {
            var number = parseInt(element["contribution_receipt_amount"]);
            if(!(Number.isNaN(number)))
            {
                total_amount = total_amount + number;
            }
    });
    function sleep(ms) {
    return new Promise(resolve => setTimeout(resolve, ms));
    }
    async function donationTickerReal()
    {
        donation = document.getElementById("total-donation");
        donation.innerText = "$0";
        var amount = 0.0;
        for(const element of arr){
            amount = amount + parseInt(element["contribution_receipt_amount"]);
            donation.innerText = "$"+ (Math.round(amount * 100) / 100).toLocaleString();
        await sleep(10);
        };
        donation.innerText = "$"+ (Math.round(total_amount * 100) / 100).toLocaleString(); 

    }

    donationTickerReal();    

    
</script>


{# keeping here so the script can interact with collection objects
 #}
    <script>
        const ind_data = {{ collections.ind | dump(2) | safe }};
        const pac_data = {{ collections.pacs | dump(2) | safe }};

        var special_index = 1;
        var i = 0
        ind_data.forEach( element =>{
            i =  i +1;
            if(element.contributor_first_name=="JANICE MARIE"){
                special_index = i-1;
                return;
            }
        });
        
        var pac_special_index = 1;
        var i = 0
        pac_data.forEach( element =>{
            i =  i +1;
            if(element.contributor_name=="AMERICAN ISRAEL PUBLIC AFFAIRS COMMITTEE POLITICAL ACTION COMMITTEE"){
                pac_special_index = i-1;
                return;
            }
        });
        const swiper = new Swiper('#swiper-a', {
        // Optional parameters
        direction: 'horizontal',
        loop: true,
        slidesPerView:3.5,
        spaceBetween:15,
        initialSlide: pac_special_index,

        breakpoints:
        {
            0: {
            slidesPerView: 1,
            spaceBetween: 5
            },
            320: {
            slidesPerView: 2,
            spaceBetween: 15
            },
            640: {
            slidesPerView: 3.5,
            spaceBetween: 15
            },
        },
        centeredSlides: true,
        // Navigation arrows
        navigation: {
          nextEl: '#swiper-button-next-swiper-a',
          prevEl: '#swiper-button-prev-swiper-a',
        },

          });  
    </script>
</html>