.accordion {
    background-color: white;
    color: #444;
    cursor: pointer;
    padding: 2vw;
    width: 100%;
    margin-right:80vw;
    border: none;
    text-align: left;
    outline: none;
    font-size: clamp(12px, 2vw, 15px);
    transition: 0.4s;
  }
  
  .active, .accordion:hover {
    background-color: grey;
  }
  
  .panel {
    padding: 0 1vw;
    color: black;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

  .accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: black;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
    color: purple;
  }