

body{
  margin:0px;
}

.header{
  background-color: #353535;    
  text-align:center;
  margin-top: 0px;
  width: 100vw;
} 

.content {
  margin:0px;
  padding:0;
  display: flex;
  gap: 1vw;
}

.sub-content {
  background-color: #f1f1f1;
  margin: 10px 0 20px;
  padding: 1vw;
  position: sticky;
  height: fit-content;
  top: 2vh;
  width: 20vw;
}


.main-content{
  width:60vw;

  margin-top: 0px;
  display: block;
}


.swiper {
  height:400px;
  margin-left: unset;
  margin-right:unset;
  overflow-x: hidden;
}

.swiper-slide{
  background: #fff;
  box-shadow: 0 0 16px 6px rgb(0 0 0 / 35%);    
  border-radius: 10px;
  margin-top: 16px;
  overflow: hidden;
}

.slide-image{
  width: 100%;
  height: 116.6px;
  background-size: cover;
  background-position: 50%;

}

h2:after, h2:before {
  content: "";
  height: 1px;
  background: #ccc;
  flex: 0 1 100px;
  margin: 0 15px;
}
.total-donation{
  color:red;
  text-align: center;
  font-weight:bold;
  font-size: 30px;
}
h2 {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 1em 0;
} 


