

<!doctype html>
<html lang="en">
    <link rel="stylesheet" href="/assets/css/style.css">
     <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
   integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
   crossorigin=""/>
     <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
   integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
   crossorigin=""></script>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title }}</title>    
    </head>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title }}</title>    
    </head>


    <body>
        {% block header %}
        <div class="header">
            <img src="https://assets.nationbuilder.com/detroitdsa/sites/1/meta_images/original/DetroitDSA%E2%80%93Color-transp.png?1558835458"></img>
        </div>
        {% endblock %}    
        {% block content %}
    
        <div>
            <h2>
                What is the newly created 12th district?
            </h2>
            <p>
                The newly created 12th district was drawn in the Chestnut plan adopted by the Michigan Independent Redistricting Commission.
                This new district covers areas such as Dearborn, Dearborn Heights, Inkster, Garden City, Westland, Livonia,Southfield, Redford Township and parts of Northwest Detroit to name a few.
            </p>
            <h2>
                What is the demographic makeup of the 12th district?
            </h2>
            <p>
                The 12th District is home to about 775,694 people.
                <ul>
                <li>
                    390,179 White people (50.3%)
                </li>
                <li>
                    350,576 Black people (45.1%)
                </li>
                <li>
                    28,019 Hispanic people (3.61%)
                </li>
                <li>
                    11,776 Native American people (1.52%)
                </li>
                </ul>
            </p>
        <div>
        <div id="map" style="width: 100%; height:80vh;">
        </div>
        {% endblock %}
    </body>

</html>


<script>
    async function addGeojsonMap(){
    var map = L.map('map').setView([42.3223,-83.1763], 10);
    const response = await fetch("/assets/geojson/District12.geojson");
    const data = await response.json();
    
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 19,
    attribution: '© OpenStreetMap'
    }).addTo(map);

    L.geoJSON(data,{
        style:function (feature){
            return {color: "green"};
        }
    }).bindPopup(function (layer){
        return "District "+ layer.feature.properties.DISTRICTN;
    }).addTo(map);
    
    console.log(map);
    return;
    }

    addGeojsonMap();
</script>